body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 990px;
  margin: 0 auto;
}

.container-larger {
  width: 1090px;
  margin: 0 auto;
}

.container-footer {
  width: 1314px;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0px;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}

.nav {
  list-style: none;
  text-align: center;
  padding: 25px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.menu-item {
  display: inline-block;
}

.menu-link {
  transition: 1s;
}

.menu-link:hover {
  color: #ffd233;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  color: #1c3664;
}

.logo {
  font-size: 28px;
  font-weight: bolder;
  text-transform: capitalize;
}

.main-btn {
  padding: 12px 18px;
  border-radius: 3px;
  background-color: #ffd233;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  color: #373f41;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.main-btn:hover {
  box-shadow: inset 5px 5px 80px rgba(0, 0, 0, 0.25);
}

.hero {
  background-color: #1c3664;
  text-align: center;
  padding: 128px;
  margin-bottom: 31px;
}

.hero-slogan {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 14px;
}

.yellow-text {
  color: #ffd233;
}

.hero-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 28px;
}

.reasons {
  margin-bottom: 64px;
}

.reason-slogan {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #1c3664;
  margin-bottom: 47px;
}

.reasons-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 85px;
  margin-bottom: 35px;
}

.reason-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reason-title {
  font-weight: bolder;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #373f41;
  margin-bottom: 5px;
}

.reason-caption {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #373f41;
}

.btn-section {
  text-align: center;
}

.services {
  margin-bottom: 68px;
}

.services-slogan {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #1c3664;
  margin-bottom: 47px;
}

.services-list {
  display: flex;
  align-content: initial;
  text-align: center;
}

.service-item {
  padding: 14px;
  flex-grow: 1;
  transition: 1s;
}

.service-item:hover {
  flex-grow: 2;
}

.service-img {
  margin-bottom: 21px;
}

.service-slogan {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  color: #373f41;
}

.service-caption {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #373f41;
}

.service-btn {
  padding: 24px 0px;
  background-color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  color: #373f41;
  border: 1px solid #373f41;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.service-btn:hover {
  background-color: #ffd233;
}

.service-link {
  padding: 24px 51px;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #373f41;
}

.service-text {
  background-color: #1c3664;
  padding: 60px;
  transition: 1s;
  margin-bottom: 40px;
}

.service-text-caption {
  background-color: #ffffff;
  padding: 13px 10px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.text-name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.2px;
  color: #373f41;
}

.service-list-item {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #373f41;
}

.service-list-item::before {
  content: url("../images/list-marker.png");
  right: 3px;
  top: -2px;
  position: relative;
}

.service-btn-container {
  margin: 54px 0;
  text-align: center;
}

#entrepreneurs {
  display: none;
}

#enterprises {
  display: none;
}

#individuals {
  display: none;
}

.team {
  margin-bottom: 105px;
}

.team-slogan {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #1c3664;
  text-align: center;
  margin-bottom: 70px;
}

.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 28px;
}

.about-us-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 125px 28px;
  background-color: #1c3664;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.about-us-item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 29px 30px 8px 27px;
  background-color: #ffd233;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.about-us-item3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 29px 31px 8px 26px;
  background-color: #ffd233;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.about-us-item4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 27px 28px 6px 29px;
  background-color: #ffd233;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.about-us-item5 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 25px 28px 4px 29px;
  background-color: #ffd233;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.item1-num {
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0.2px;
  margin-bottom: 32px;
}

.item2-num {
  font-weight: bold;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #1c3664;
  margin-bottom: 16px;
}

.item3-num {
  font-weight: bold;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #1c3664;
  margin-bottom: 16px;
}

.item4-num {
  font-weight: bold;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #1c3664;
  margin-bottom: 16px;
}

.item5-num {
  font-weight: bold;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #1c3664;
  margin-bottom: 16px;
}

.item1-text {
  font-weight: 800;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #ffffff;
}

.item2-text {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1c3664;
}

.item3-text {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1c3664;
}

.item4-text {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1c3664;
}

.item5-text {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1c3664;
}

.clients {
  background: rgba(182, 182, 182, 0.1);
  padding: 30px;
  margin-bottom: 35px;
}

.clients-slogan {
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #1c3664;
  text-align: center;
  margin-bottom: 35px;
}

.slider {
  width: 1000px;
  margin: 0 auto;
}

.clients-images {
  display: flex;
  justify-content: space-between;
  width: 680px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.client {
  height: 210px;
  opacity: 0.5;
  transition: 0.2s;
}

.tab-client {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.tab-client + .client {
  cursor: pointer;
}

/* CHECKED STYLES */
.tab-client:checked + .client {
  height: 230px;
  opacity: 1;
}

.client-name {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #373f41;
}

.client-position {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #373f41;
  margin-bottom: 10px;
}

.feedback {
  background-color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #373f41;
  border: 1px solid #c4c4c4;
  border-radius: 6.19px;
  padding: 19px 35px 11px;
  width: 780px;
  margin: 0 auto;
}

#client1 {
  display: block;
}

#client2 {
  display: none;
}

#client3 {
  display: none;
}

.process {
  margin-bottom: 66px;
}

.process-slogan {
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #1c3664;
  text-align: center;
  margin-bottom: 83px;
}

.process-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 82px;
}

.first {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  flex-direction: column;
}

.second {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  flex-direction: column;
}

.third {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  flex-direction: column;
}

.fourth {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
}

.fifth {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
}

.sixth {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
}

.number {
  padding: 10px 25px;
  width: fit-content;
  background: #1c3664;
  border-radius: 50%;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  color: #ffffff;
}

.background-item {
  background: rgba(28, 54, 100, 0.25);
  width: fit-content;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 19px;
}

.second .number {
  color: #1c3664;
  background: #ffd233;
}

.second .background-item {
  background: rgba(255, 210, 51, 0.25);
}

.fourth .number {
  color: #1c3664;
  background: #ffd233;
}

.fourth .background-item {
  background: rgba(255, 210, 51, 0.25);
}

.sixth .number {
  color: #1c3664;
  background: #ffd233;
}

.sixth .background-item {
  background: rgba(255, 210, 51, 0.25);
}

.process-description {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #373f41;
}

.btn-wrapper {
  text-align: center;
}

.form {
  display: flex;
}

.experience {
  flex: 44%;
  background-color: #1c3664;
  padding: 75px 114px;
}

.exp-slogan {
  font-weight: bold;
  font-size: 34px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 40px;
}

.count {
  font-weight: bold;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #ffd233;
  margin: 26px 0;
}

.exp-description {
  font-size: 16px;
  line-height: 34px;
  color: #ffffff;
}

.exp-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.exp-item1 {
  width: 50%;
  margin-bottom: 35px;
}

.exp-item2 {
  width: 50%;
  margin-bottom: 35px;
}

.exp-item3 {
  width: 50%;
  margin-bottom: 35px;
}

.exp-item4 {
  width: 50%;
  margin-bottom: 35px;
}

.form-container {
  flex: 56%;
  background: rgba(182, 182, 182, 0.1);
}

.form-slogan {
  margin-top: 45px;
  margin-bottom: 36px;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #1c3664;
  text-align: center;
}

.form-wrapper {
  width: 490px;
  margin: 0 auto;
}

.form-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #373f41;
}

.form-cat {
  font-weight: 600;
  font-size: 16px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #373f41;
}

.radio-buttons {
  font-weight: 600;
  font-size: 16px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #373f41;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 56px;
}

.form-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: #373f41;
  margin-top: 13px;
}

.form-input {
  width: 90%;
  padding: 5px 0 0;
  font-size: 22px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
}

.ready {
  padding: 110px 0 91px;
}

.ready-slogan {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #1c3664;
  margin-bottom: 20px;
}

.ready-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 20px;
}

.page-footer {
  background: #1c3664;
}

.footer-logo {
  font-weight: bold;
  font-size: 28.9091px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: 0.240909px;
  text-transform: capitalize;
  color: #ffffff;
}

.address {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.fecebook-link {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-transform: lowercase;
}

.opens {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.main-footer {
  display: flex;
  padding: 35px 0;
}

.footer-adresses {
  display: flex;
  flex-direction: column;
  flex: 21%;
}

.partners {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.contact {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.tel {
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.email {
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.footer-partners {
  margin-left: 55px;
  flex: 40%;
}

.footer-contact {
  margin-left: 86px;
  flex: 23%;
}

.copy {
  font-weight: bold;
  font-size: 16px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

@media screen {
}
